<!-- <div id="back">
  <div class="backRight"></div>
</div>
<div>
  <div id="slideBox" class="topLayer ">
    <div class="left">
      <div class="content">
        <div id="loginWrapper">
          <h1 style="text-align:center;">
            <img src="./static/img/logo.png" alt="nexensus">
          </h1>
          <form method="post" name="logInOutUser" id="login" action="home.nex" style="padding-top:25px">
            <ul>
              <li>
                <label for="username">

                </label>
                <input class="text" type="text" id="userName" placeholder="Enter Username" name="userName" />
              </li>
              <li>
                <label for="password">
                 </label>
                <input class="password" type="password" id="password" placeholder="Enter Password" name="password" />
              </li>
              <li id="loginCodefield" style="display:none;">
                <label for="loginCode">password</label>
                <input type="text" id="loginCode" placeholder="Enter Auth Code" name="loginCode" />
                <div style="height:20px;vertical-align: bottom;margin: 10px;">
                  <span style="color:#f80713;">The Auth-Code has been sent to your registered email.</span>
                </div>
              </li>
              <li id="buttonWrapper">
                <input class="button" type="button" id="loginSubmit" value="Get Auth Code" />
              </li>
              <li id="forgotPassword">
                <a href="#">Forget Password</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->