<div class="loading-indicator" *ngIf="progressSpinner == true">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
<div id="back">
  <div class="backRight"></div>
</div>

<div>
  <div id="slideBox" class="topLayer ">
    <div class="left">
      <a href="{{applicationUrl}}"> <img class="logo" src="./assets/logo.png" alt="Logo"></a>

      <mat-card class="content" *ngIf="validTokenlinktrue">
        <mat-card-header>
          <mat-card-title>Set New Password </mat-card-title>


        </mat-card-header>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="New password" formControlName="password" required>
              <mat-error *ngIf="myForm.hasError('required', 'password')">
                Please enter your new password
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="myForm.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-button-row">
            <button style="display: block" class="nex-button" mat-flat-button color="accent">Update</button>
          </div>
        </form>


        <p>&nbsp;</p>

        <mat-card-header>
          <mat-card-subtitle>1. Your password must be at least 8 characters long.<br>
            2. Uppercase [A-Z] and lowercase [a-z] English alphabet<br>
            3. Digits 0-9 <br>
            4. spaces are not Allow
          </mat-card-subtitle>

        </mat-card-header>
      </mat-card>
      <mat-card *ngIf="validTokenlinkfalse">
        <p>The password reset link is no longer valid. Please request another password reset email from the login page.
        </p>
        <p>Click Here to Login page <a href={{applicationUrl}}>Click here</a></p>
      </mat-card>
    </div>

  </div>
</div>