<div class="loading-indicator" *ngIf="progressSpinner == true">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
<div id="back">
    <div class="backRight"></div>
</div>

<div>
    <div id="slideBox" class="topLayer ">
        <div class="left">
            <a href="{{applicationUrl}}"> <img class="logo" src="./assets/logo.png" alt="Logo"></a>
            <mat-card class="content">
                <mat-card-header>
                    <mat-card-title>Forget Password <p></p>
                    </mat-card-title>

                    <mat-card-subtitle>Enter your e-mail address and we'll send a link to reset your password
                    </mat-card-subtitle>
                </mat-card-header>
                <form [formGroup]="sendEmailFrom" (ngSubmit)="onSubmit()">

                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email address</mat-label>
                            <input matInput email formControlName="userName" placeholder="Enter your email address"
                                required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="example-button-row">
                        <button style="display: block" class="nex-button" mat-flat-button color="accent">Submit</button>
                    </div>
                </form>


                <p>&nbsp;</p>

                <mat-card-header>
                    <mat-card-subtitle>
                        Don't remember your email address? Contact us<br>
                        We'll look up your account and get back you.

                    </mat-card-subtitle>
                    <mat-card-subtitle><strong>Call us :- </strong><i>+91 920-568-5050 </i> <br>
                        <strong>Email us :- </strong><i>techsupport@nexensus.com</i></mat-card-subtitle>

                </mat-card-header>
            </mat-card>
        </div>

    </div>
</div>